@font-face {
  font-family: "font1";
  src: url("../Fonts/HELVETICANEUELTGEO-45LIGHTS.ttf");
}

@font-face {
  font-family: "font2";
  src: url("../Fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf") format("truetype");
}

.font1 {
  font-family: "font1";
}

.font2 {
  font-family: "font2";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.section-name {
  background: blue;
  max-width: 1920px;
  height: 308px;
}

.articles {
  max-width: 1640px;
  width: 90%;
  background-color: blueviolet;
}

.paragraph {
  padding-left: 240px;
  padding-top: 70px;
  font-size: 32px;
}

.pg-1 {
  padding: 30px 74px 30px 30px;
}
.pg-2 {
  padding: 28px 67px 29px 30px;
}
.pg-3 {
  padding: 30px 74px 30px 30px;
}

.section-article {
  width: 463px;
  height: 420px;
  display: inline-block;
  padding-right: 25px;
}

.bg-paragraph {
  font-size: 18px;
  width: 443px;
  height: 125px;
  background: lightgray;
  margin: 0 auto;
}

.center {
  padding-left: 120px;
}

.parent2 {
  position: relative;
}

.parent2 p {
  position: absolute;
  bottom: 10px;
}

/* .parent1 {
  position: relative;
} */

/* .parent1 section article {
  position: absolute;
  top: 1px;
  left: 20px;
} */
